.pop-up__title {
  max-width: 358px;
  color: black;
  margin: 25px auto 36px 0;
  padding-left: 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24);
}

/* Cтили для для разрешения до 638px */
@media screen and (max-width: 638px) {
  .pop-up__title {
    margin: 17px auto 68px 0;
    padding-left: 22px;
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}