.card__like-button {
  margin-right: 21px;
  display: block;
  width: 21px;
  height: 19px;
  padding: 0;
  border: none;
  justify-self: end;
  background-image: url(../../../../images/Card/like-button_disabled.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.card__like-button:hover {
  opacity: .5;
  cursor: pointer;
}

.card__like-button:focus {
  outline:none;
}

.card__like-button:active {
  background-image: url(../../../images/Card/like-button_active.svg);
}