.logo {
  width: 142px;
  height: 33px;
  padding-bottom: 41px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Cтили для для разрешения до 380px */
@media screen and (max-width: 380px) {
  .logo {
    width: 103.74px;
    height: 24.4px;
    padding-bottom: 31.6px;
  }
}