.profile__avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
}

/* Cтили для для разрешения до 920px */
@media screen and (max-width: 920px) {
  .profile__avatar-container {
  margin-bottom: 27px;
  }
}