.pop-up__close-button {
  margin: -48px -468px 0 0;
  width: 58px;
  height: 58px;
  background-image: url(../../../images/Pop-Up/Close-Icon.png);
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
}

.pop-up__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

.pop-up__close-button:focus {
  outline:none;
}

/* Cтили для для разрешения до 638px */
@media screen and (max-width: 638px) {
  .pop-up__close-button {
    margin: -75px 0 30px 246px;
  }
}