.pop-up__close-button {
  margin: -48px -48px 0 0;
  display: flex;
  justify-content: flex-end;
}

.pop-up__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

.pop-up__close-button:focus {
  outline:none;
}