.element__like-button {
  margin-right: 21px;
  display: block;
  width: 21px;
  height: 19px;
  padding: 0;
  border: none;
  justify-self: end;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.element__like-button:hover {
  opacity: .5;
  cursor: pointer;
}