.card__caption {
  max-width: 282px;
  border-radius: 0 0 10px 10px;
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: fit-content(220px) 1fr;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}